html{
    margin: 0;
    border: 0;
    display: border-box;
    font-size: 62.5%;
}

$colors:(
    light-blue: #80D8FF,
    content-purple: #B388FF
    
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

body{
    height: 110rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(light-blue), 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url();
    background-size: cover;

}

h1{
    font-size: 10rem; 
    text-align: center;
    font-family: 'Lobster', cursive;

}

.flex-parent{
    height: 90rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.flex-child{
    height: 50rem;
    width: 90rem;
    background: rgba(color(content-purple), 0.7);
    border: 10px solid black;
    margin: 10px;
}

p{
    font-size: 3rem;
    text-align: center;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-grandchild{
    height: 20rem;
    width: 81rem;
    background: white;
    border: 6px solid black;
}

#top{
    display: flex;
    flex-direction: row;
}
img{
    height: 20rem;
    width: 27rem;

}