html{
    margin: 0;
    border: 0;
    display: border-box;
    font-size: 62.5%;
}

$colors:(
    light-blue: #448AFF,
    content-purple: #9575CD
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

body{
    height: 100rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(light-blue), 0.4),
        rgba(255, 255, 255, 0.5)
    ),
    url();
    background-size: cover;

}

h1{
    font-size: 5rem; 
    text-align: center;
}

.flex-parent{
    height: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.flex-child{
    height: 40rem;
    width: 110rem;
    background: rgba(color(content-purple), 0.6);
    border: 7px solid black;
    margin: 4rem;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-grandchild{
    height: 15rem;
    width: 50rem;
    background: saddlebrown;
    margin: 2rem;
    border: 5px solid black;
}